<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<array>
		<dict>
			<key>Image</key>
			<string>images-1.jpeg</string>
			<key>Place</key>
			<string>Barcelona</string>
			<key>Country</key>
			<string>Spain</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-2.jpeg</string>
			<key>Place</key>
			<string>Cape Town</string>
			<key>Country</key>
			<string>South Africa</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-3.jpeg</string>
			<key>Place</key>
			<string>Delhi</string>
			<key>Country</key>
			<string>India</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-4.jpeg</string>
			<key>Place</key>
			<string>Berlin</string>
			<key>Country</key>
			<string>Germany</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-5.jpeg</string>
			<key>Place</key>
			<string>Athens</string>
			<key>Country</key>
			<string>Greece</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-6.jpeg</string>
			<key>Place</key>
			<string>Dublin</string>
			<key>Country</key>
			<string>Ireland</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-7.jpeg</string>
			<key>Place</key>
			<string>Amsterdam</string>
			<key>Country</key>
			<string>Netherlands</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-8.jpeg</string>
			<key>Place</key>
			<string>Zurich</string>
			<key>Country</key>
			<string>Switzerland</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-9.jpeg</string>
			<key>Place</key>
			<string>Prague</string>
			<key>Country</key>
			<string>Czech Republic</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-10.jpeg</string>
			<key>Place</key>
			<string>Paris</string>
			<key>Country</key>
			<string>France</string>
		</dict>
	</array>
</dict>
</plist>
